<header id="main-header">
	<div id="header-content">
		<div id="logo"><a href="/">DemoShop</a></div>
		<nav><%- include("nav-items") %></nav>
		<button id="mobile-menu-btn">
			<span></span>
			<span></span>
			<span></span>
		</button>
	</div>
</header>
<aside id="mobile-menu">
	<nav><%- include("nav-items") %></nav>
</aside>
