* {
	box-sizing: border-box;
}

html {
	font-family: "Poppins", sans-serif;

	--color-gray-10: rgb(245, 248, 252);
	--color-gray-50: rgb(230, 236, 243);
	--color-gray-100: rgb(195, 201, 207);
	--color-gray-300: rgb(86, 93, 99);
	--color-gray-400: rgb(60, 65, 70);
	--color-gray-500: rgb(31, 34, 37);
	--color-gray-600: rgb(26, 29, 32);
	--color-gray-700: rgb(22, 27, 31);

	--color-primary-50: rgb(200, 225, 253);
	--color-primary-100: rgb(183, 216, 253);
	--color-primary-200: rgb(143, 193, 250);
	--color-primary-300: rgb(98, 159, 230);
	--color-primary-400: rgb(41, 126, 223);
	--color-primary-500: rgb(14, 116, 212);
	--color-primary-700: rgb(25, 97, 179);
	--color-primary-200-contrast: rgb(2, 48, 100);
	--color-primary-500-contrast: white;

	--color-error-100: rgb(243, 215, 223);
	--color-error-500: rgb(199, 15, 70);

	--color-primary-500-bg: rgb(58, 60, 63);

	--space-1: 0.25rem;
	--space-2: 0.5rem;
	--space-4: 1rem;
	--space-6: 1.5rem;
	--space-8: 2rem;

	--border-radius-small: 4px;
	--border-radius-medium: 6px;

	--shadow-medium: 0 2px 8px rgba(0, 0, 0, 0.2);
}

body {
	margin: 0;
	background-color: var(--color-gray-10);
	color: var(--color-gray-500);
}

main {
	width: 90%;
	max-width: 50rem;
	margin: 0 auto;
}

ul,
ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: var(--color-primary-400);
}

.btn {
	cursor: pointer;
	font: inherit;
	padding: var(--space-2) var(--space-6);
	background-color: var(--color-primary-500);
	color: var(--color-primary-500-contrast);
	border: 1px solid var(--color-primary-500);
	border-radius: var(--border-radius-small);
}

.btn:hover,
.btn:active {
	background-color: var(--color-primary-700);
	border-color: var(--color-primary-700);
}

.alert {
	border-radius: var(--border-radius-small);
	background-color: var(--color-error-100);
	color: var(--color-error-500);
	padding: var(--space-4);
}

.alert h2 {
	font-size: 1rem;
	margin: var(--space-2) 0;
	text-transform: uppercase;
}

.alert p {
	margin: var(--space-2) 0;
}
